<!DOCTYPE html>
<html>
<head>
  <title>Gracias por reportar tu voto</title>
  <style>
    html, body {
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .center-div {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="center-div">
    <p><h1>¡Muchas gracias por tu voto!</h1></p>
    <p><h2>Con tu ayuda estamos logrando una Colombia más transparente!, esto es hacer veeduría ciudadana</h2></p>
  </div>
</body>
</html>
